@{
    ViewBag.Title = "COMMENT_CA_MARCHE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CHACUN SA BULLE</title>
<link type="text/css" href="styles.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
<!--Header Code Start-->
<header id="header"> 
<div class="header-wrap">
	<span class="fleft logo"><a href="#"><img src="Images/logo.png" alt="CHACUN SA BULLE" /></a></span>
    <div class="main-menu">
    	<nav>
        	<ul>
            	<li><a class="home_icon" href="#"></a></li>
           	  <li><a href="#">S’abonner</a></li>
			  <li><a href="#">Offrir</a></li>
              <li><a href="#">Comment ça marche ?</a></li>
              <li><a href="#">Blog</a></li>
              <li><a class="user_icon" href="#">Connexion</a></li>
          </ul>
        </nav>
    </div>
</div>
</header>
<!--Header Code End-->*@

<!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap forume4" id="identification_detail_3">
		<div class="banner_block" style="margin: 0px 0 8px;">
            <div id="voir" class="banner2">
            	<h3 class="txt_center">COMMENT CA MARCHE?</h3>
            </div>
        </div>
    	<div id="slideshow" class="">
        	<div class="fleft" style="box-sizing: border-box; width: 60%;">
                <p style="font-size: 21px;"><b>1/ Parmi ces 4 offres choisis celle qui te correspond le mieux</b></p>
				<p style="padding: 10px 28px;"><img src="Images/parmi_ces.png" alt="" /></p>
				<br>
				<p><b>2/ Pour Bulle Sur Mesure / Mini Bulle / Mini&Maxi Bulle :</b></p>
				<p>Indique nous ce que tu aimes pour recevoir ta box personnalisée.</p>
				<br>
				<p><b>3/ Pour Prêt à Buller : </b></p>
				<p>Laisse toi aller, JP veille au grain ! <br>
-Un indice ? <br>
Plutôt Romans graphiques…</p>
<br>
				<p><b>4/ Une fois que tu as renseigné l’adresse de réception,</b></p>
				<p>tu recevras ta box avec des ex libris (gravure personnalisée) des fiches sur l’auteur et le dessinateur, 
des invitations premiums pour rencontrer tes auteurs et dessinateurs préférés et même des albums dédicacés.</p>

            </div>
			<div class="fleft" style="box-sizing: border-box; width: 37%; margin: 40px 15px;">
				<div><img src="Images/demarrez.png" alt="" /></div>
				<div class="button"><input type="submit" value="DEMARREZ L'EXPERIENCE" /></div>
				<div style="margin-top: 100px; text-align: center; font-weight: bold; font-size: 18px;"><p>J'offre en Cadeau</p></div>
			</div>
        </div>
        <div class="banner_block">
            <div id="voir" class="banner2">
            	<h3 class="txt_center">VOUS AVEZ UNE QUESTION ?</h3>
            </div>
        </div>
		<!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_3" style="height: 245px; background-position: center -135px;">
			<div class="fleft">
				<div class="block_image">
                	<img src="Images/mabonne1.png" alt="" />
                    <div>
                        <p>Abonnement</p>
                    </div>
                </div>
			</div>
			<div class="fleft">
				<div class="border fleft"></div>
				<div class="block_image">
                	<img src="Images/mabonne2.png" alt="" />
                    <div><p>Livraison</p>
                    </div>
                </div>
			</div>
			<div class="fleft">
				<div class="border fleft"></div>
				<div class="block_image">
                	<img src="Images/mabonne3.png" alt="" style="width: 85%; margin-left: 20px;" />
                    <div><p>Paiement</p>
                    </div>
                </div>
			</div>
			<div class="fleft">
				<div class="border fleft"></div>
				<div class="block_image">
                	<img src="Images/mabonne4.png" alt="" style="width: 85%; margin-left: 20px;" />
                    <div><p>Cadeau</p>
                    </div>
                </div>
			</div>
		</div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_4" style="height: 750px; margin-top: 42px;">
			<div>
				<p><b>C’est quoi un abonnement de BD?</b></p>
				<p>Facile ! Notre libraire : Jean Pierre Nakkache, Libraire et Membre du comité de sélection d'Angoulême, sélectionne pour vous au moins 2 BD. <br>
Quatre formules existent : Prêt à buller / Bulle sur Mesure / Mini Bulle et Mini&Maxi Bulle<br>
Chaque mois vous profitez donc de la sélection d'un libraire de renom, mais en plus de votre box contenant vos  2 BD, vous bénéficierez d 'ex libris, de fiches de lecture, 
d'invitations premium pour rencontrer vos dessinateurs et  auteurs préférés ainsi que des albums dédicacés.</p>
<br>
				<p><b>Quelle est la différence entre un abonnement sans engagement et un abonnement de 3, 6 ou 12 mois?</b></p>
				<p>En choisissant le mode "sans engagement", vous êtes automatiquement prélevé du montant de votre abonnement tous les mois pendant la durée de celui-ci Vous pouvez
cependant vous désabonner quand vous le souhaitez, et ceci dès le premier mois. <br>
En vous abonnant 3, 6 ou 12 mois, vous êtes prélevé de l'intégralité de la période d'abonnement au moment de l'achat (par exemple 6 x 29,90 € = 179,40 € pour 6 mois,
 hors frais de port).</p>
 <br>
				<p><b>Qui sélectionne les BD?</b></p>
				<p>C'est Jean Pierre Nakkache, Membre du comité de sélection d'Angoulême, administrateur du réseau Canal BD, qui sélectionne tous les mois les dernières nouveautés 
BD. Il est aidé par son équipe Eleonore et Vincent et bénéficie du soutien de tous les libraires membres du réseau Canal BD.</p>
<br>
				<p><b>Puis-je me désabonner quand je veux?</b></p>
				<p>Vous pouvez vous désabonner quand vous le souhaitez, et ceci dès le premier mois si vous avez choisi la formule avec prélèvement mensuel (ou "sans engagement").
Il vous suffit de suspendre votre abonnement pour ne plus recevoir les BD dès le mois suivant votre suspension (par exemple : en vous désabonnement le 12 février, 
vous ne serez plus prélevé le 1er mars et ne recevrez pas les 2 BD de mars).</p>
<br>
				<p><b>Puis-je m’abonner un seul mois?</b></p>
				<p>Bien sûr ! Vous pouvez vous abonner autant de mois que vous le souhaitez en choisissant le mode "prélèvement automatique". Il vous suffira de la suspendre après 
la réception de la première box.</p>
<br>
				<p><b>Y a t il un risque de recevoir une BD que j'ai déjà?</b></p>
				<p>Minime, voire impossible. Notre sélécton est celle des nouveautés du mois.</p>
			</div>
        </div>
        <div class="banner_block banner_block_2">
            <div id="voir" class="banner2">
            	<h3 class="txt_center">Quels sont les différents moyens de livraison ?</h3>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_4" style="height: 1660px; background-position: center -135px;">
			<p style="padding: 50px 60px 30px;"><b>Vous pouvez :</b></p>
			<div style="padding-top: 0px;">
				<p><b>1-  Venir récupérer votre colis gratuitement soit  : </b><br>
				Bulles en tête : 54 Rue des dames 75017 <br>
				Ou bien auprès de nos partenaires : Les Grandes Caves <br> 
				9 rue Poncelet 75017<br>
				63 rue Damrémont  75018<br>
				76 Boulevard rue Jean Jaures Clichy 92110<br>
				70 rue Saint Dominique 75007</p> 
				<br>
				<p><b>2- Recevoir votre box directement chez vous</b></p>
				<p>Livraison à domicile avec suivi (en cas de problème) 3.90€/mois</p>
				<br>
				<p><b>3- Retirer votre box dans l'un des 4300 Points Relais du réseau Mondial Relay</b></p>
				<br>
				<p><b>Quel est le délai de retrait de mes BD (Point Relais et retrait au Boutique ou Partenaires) ?</b></p>
				<p>Mondial Relay vous notifie par email ou SMS de la disponibilité de votre colis dans le Point Relais que vous avez sélectionné. Dès lors vous disposez de 14 jours pour 
				récupérer votre colis. Passé ce délai, votre colis est renvoyé à l'expéditeur. Surveillez votre boîte mail et veillez à vous assurer que les mails de Chacun Sa Bulle et de
				Mondial Relay ne sont pas considérés comme des spams. Astuce : ajoutez l'adresse mail de Chacun sa Bulle à votre carnet d'adresses.</p>
				<br>
				<p><b>Puis-je modifier l’adresse ou le mode de livraison de mon abonnement en cours de route?</b></p>
				<p>Merci de nous envoyer un mail à Mayday@xxxxx.com</p>
				<br>
				<p>Problème | Je n’ai pas reçu mes BD?</p>
				<p>Merci de nous envoyer un mail. mayday@xxxxxx.com, nous vous réenverrons cela dans les plus brefs délais Problème | Je n'ai pas récupéré mon colis à temps au
				bureau de poste ou au Point Relais Merci de nous envoyer un mail. mayday@xxxxxx.com, nous vous réenverrons cela dans les plus brefs délais</p>
				<p>Je n'ai pas trouvé la réponse à ma question</p>
				<p>Merci de nous envoyer un mail. mayday@xxxxxx.com</p>
				<br>
				<p><b>Quand suis-je débité ?</b></p>
				<p>Abonnement "prélèvement automatique" ou "sans engagement" <br>
				Vous êtes automatiquement prélevé du montant de votre abonnement ( 29,90 € pour la formule Age de Raisin + éventuels frais de port) tous les mois pendant la durée <br>
				de votre abonnement. Le prélèvement a lieu le 1er du mois.<br>
				Vous pouvez cependant vous désabonner quand vous le souhaitez, et ceci dès le premier mois. Attention : le premier mois est payé au moment de l'achat.<br>
				Abonnement de 3, 6 ou 12 mois et cadeaux <br>
				Vous êtes prélevé de l'intégralité de la période d'abonnement au moment de l'achat (par exemple 6 x 29,90 € = 179,40 € pour 6 mois, hors frais de port).</p>
				<br>
				<p><b>Quels sont les différents moyens de paiement ?</b></p>
				<p>Vous pouvez payer avec la plupart des cartes bancaires (Visa / Carte Bleue, American Express, Master Card) ou encore Leetchi.com qui vous permet de collecter de 
				l'argent à plusieurs ! Idéal pour un cadeau !</p>
				<br>
				<p><b>Puis-je modifier mes informations bancaires ?</b></p>
				<p>Merci de nous envoyer un mail à mayday@xxxxx.com</p>
				<br>
				<p><b>Où sont les factures de mes achats ?</b></p>
				<p>vous souhaitez retrouver vos factures ou un duplicata? merci de nous envoyer un mail à mayday@xxxxx.com<br>
				<br>
				Problème | J'ai été prélevé une deuxième fois alors que je ne souhaitais recevoir qu'un mois<br>
				En choisissant le mode "sans engagement" ou "prélèvement mensuel", vous êtes automatiquement prélevé du montant de votre abonnement<br>
				(par exemple 29,90 € , hors frais de port) tous les 1ers du mois pendant la durée de votre abonnement.<br>
				<br>
				Vous pouvez cependant vous désabonner quand vous le souhaitez, et ceci dès le premier mois. Si vous souhaitez arrêter votre abonnement, <br>
				rendez-vous sur "Mon compte" puis "Paramètres de l'abonnement" et cliquez sur "Suspendre" pour l'abonnement concerné<br>
				<br>
				Attention toutefois à bien vous désabonner avant le 1er du mois si vous ne souhaitez pas recevoir les vins du mois (par exemple : suspendez votre abonnement jusqu'au
				30 janvier pour ne pas recevoir les vins du mois de février").</p>
				<br>
				<p><b>Comment puis-je offrir un cadeau ?</b></p>
				<p>Les abonnements offerts fonctionnent grâce à la Carte Cadeau : vous choisissez l'abonnement et le mode de livraison, une carte cadeau est générée et envoyée par 
				email ou vous pouvez l'imprimer et la remettre à votre bénéficiaire qui n'aura plus qu'à activer son abonnement sur notre site.<br>
				Lors de l'activation de l'abonnement, le bénéficiaire renseigne lui-même son adresse de livraison ou choisit son Point Relais.<br>
				Pour commander une Carte Cadeau, il vous suffit de vous rendre dans la section "Offrir", puis choisir votre formule.<br>
				 Une fois votre sélection faite, vous choisissez si vous souhaitez :<br>
				 > imprimer la carte cadeau correspondante (elle vous est envoyée par email au formal PDF)<br>
				> l'envoyer directement par email à votre bénéficiaire.<br>
				 Si vous avez la moindre question, n'hésitez pas à nous envoyer un message à : <br>
				mayday@xxxxxx.com</p>
			</div>
        </div>
		
		<div class="banner_block banner_block_2">
            <div id="voir" class="banner2">
            	<h3 class="txt_center">Comment ça marche ?</h3>
            </div>
        </div>
		<!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_4">
			<div>
				<p>Lors de votre achat vous sélectionnez la formule qui vous convient, puis la durée de l'abonnement et enfin le mode de livraison. Ce sont ces 3 paramètres qui détermineront 
le prix du cadeau.</p>
<br>
				<p><b>Une fois votre sélection faite, vous choisissez si vous souhaitez :</b></p>
				<p>- imprimer la carte cadeau correspondante (elle vous est envoyée par email au formal PDF)<br>
				- la recevoir par courrier à l'adresse de votre choix (chez vous pour la remettre ensuite en main-propre ou chez son destinataire)<br>
				- l'envoyer directement par email à votre bénéficiaire.</p>
				<br>
				<p>Vous n'avez plus ensuite qu'à remettre la carte cadeau à son bénéficiaire (sauf si vous avez choisi l'option d'envoi par email, auquel cas il reçoit son code d'activation
				immédiatement après votre commande).</p>
				<br>
				<p>Pour démarrer son abonnement il lui suffira de renseigner le code d'activation inscrit sur la carte en se rendant sur la page d'activation.</p>
				<br>
				<p>Lors de l'activation, le bénéficiaire renseigne lui-même son adresse de livraison ou choisit son Point Relais.</p>
				<br>
				<p>Il recevra ensuite ses 2 premières BD le mois suivant l'activation de son cadeau (par exemple, en activant son abonnement le 28 décembre, le bénéficiaire recevra 
				son 1er colis le 15 janvier).</p>
				<br>
				<p><b>Comment activer la carte que j'ai reçue en cadeau?</b></p>
				<p>Il vous suffit de vous rendre sur la page d'activation et de renseigner le code d'activation inscrit sur votre carte cadeau que vous avez reçue, puis laissez-vous guider.</p>
				<br>
				<p>Vous recevrez alors vos 2 premières bouteilles dès le mois suivant votre activation à l'adresse de livraison que vous aurez renseignée.</p>
				<br>
				<p><b>Si vous rencontrez un problème lors de l'activation (ou si vous avez perdu votre carte ou votre code), envoyez-nous un message à : </b></p>
				<br>
				<p>mayday@xxxxxx.com</p>
				<br>
				<p>Problème | J'ai perdu ma carte cadeau ou mon code d'activation<br>
				Pas de problème. Envoyer nous un mail à mayday@xxxxx.com</p>
				<br>
				<p>Je n'ai pas trouvé la réponse à ma question:<br>
				Envoyer nous un mail à mayday@xxxxxx.com</p>
			</div>
        </div>

		
        <!--Votre Block-->
        <div id="votre" class="bottom_block">
        	<div class="votre_wrap txt_center">
            </div>
        </div>
    </div>
</section>
<!--About Us Page Code End-->

@*<!--Footer Code Start-->
<footer id="footer">
	<div class="footer-wrap">
    	<div class="footerlinks">
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">Comment ça marche ?</li>
                    <li><a target="" href="#">Découvrez chaque mois</a></li>
                    <li><a target="" href="#">notre sélection de 2 BD livrées chez vous,</a></li>
                    <li><a target="" href="#">plus de nombreuses surprises.</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">NOS OFFRES</li>
                    <li><a target="" href="#">S’abonner</a></li>
                    <li><a target="" href="#">Offrir</a></li>
                    <li><a target="" href="#">J’ai réçu un cadeau</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">BESOIN D’AIDE</li>
                    <li><a class="phone_icon" target="" href="#">01 42 38 24 62</a></li>
                    <li><a class="mail_icon" target="" href="#">mayday@chacunsabulle.com</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">SUIVEZ-NOUS</li>
                    <li class="social_share_icons">
                        <a class="twitter_icon" target="" href="#"></a>
                    </li>
                    <li class="social_share_icons">
                        <a class="instagram_icon" target="" href="#"></a>
                    </li>
                    <li class="social_share_icons">
                        <a class="facebook_icon" target="" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--Footer Code End-->
</body>
</html>*@
