@{
    ViewBag.Title = "Confirmation_domicile_page_33";
}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CHACUN SA BULLE</title>
<link type="text/css" href="../css/styles_3.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
<!--Header Code Start-->
@*<header id="header"> 
<div class="header-wrap">
	<span class="fleft logo"><a href="#"><img src="../Images/logo.png" alt="CHACUN SA BULLE" /></a></span>
    <div class="main-menu">
    	<nav>
        	<ul>
            	<li><a class="home_icon" href="#"></a></li>
           	  <li><a href="#">S’abonner</a></li>
			  <li><a href="#">Offrir</a></li>
              <li><a href="#">Comment ça marche ?</a></li>
              <li><a href="#">Blog</a></li>
              <li><a class="user_icon" href="#">Connexion</a></li>
          </ul>
        </nav>
    </div>
</div>
</header>*@
<!--Header Code End-->

<!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap forume4" id="identification_detail_3">
		<div class="banner_block" style="margin: 0px 0 8px;">
            <div id="voir" class="banner2">
            	<h3 class="txt_center">FÉLICITATIONS !</h3>
            </div>
        </div>
    	<div id="slideshow" class="felicitations">
                <p class="txt_center" ><b>Vous recevrez vos BD et vos surprises à partir du 15 du mois chez vous.</b></p>
            <b><label style="text-align: center;position: absolute;margin-left: 413px;margin-top: -92px;font-size: 16pt;">Votre numéro de commande est : @ViewBag.Message</label></b>
        </div>
		
        <!--Votre Block-->
        <div id="votre" class="bottom_block">
        	<div class="votre_wrap txt_center">
            </div>
        </div>
    </div>
</section>
<!--About Us Page Code End-->


<!--About Us Page Code End-->

<!--Footer Code Start-->
@*<footer id="footer">
	<div class="footer-wrap">
    	<div class="footerlinks">
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">Comment ça marche ?</li>
                    <li><a target="" href="#">Découvrez chaque mois</a></li>
                    <li><a target="" href="#">notre sélection de 2 BD livrées chez vous,</a></li>
                    <li><a target="" href="#">plus de nombreuses surprises.</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">NOS OFFRES</li>
                    <li><a target="" href="#">S’abonner</a></li>
                    <li><a target="" href="#">Offrir</a></li>
                    <li><a target="" href="#">J’ai réçu un cadeau</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">BESOIN D’AIDE</li>
                    <li><a class="phone_icon" target="" href="#">01 42 38 24 62</a></li>
                    <li><a class="mail_icon" target="" href="#">mayday@chacunsabulle.com</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li class="footer_block_head">SUIVEZ-NOUS</li>
                    <li class="social_share_icons">
                        <a class="twitter_icon" target="" href="#"></a>
                    </li>
                    <li class="social_share_icons">
                        <a class="instagram_icon" target="" href="#"></a>
                    </li>
                    <li class="social_share_icons">
                        <a class="facebook_icon" target="" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>*@
<!--Footer Code End-->
</body>
</html>

