@model Commic.Models.Commic
@{
    ViewBag.Title = "FormuleBSM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @using (Html.BeginForm("MailingAndBillingAddress", "Index", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    { 
<!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap" id="identification_detail_3">
    	<div id="slideshow" class="top_header">
        	<div class="top_header_wrap">
                <h2 class="fleft" style="width:600px;">1-3 FORMULE, DUREE, LIVRAISON</h2>
                <p class="fright"><a href="~/Index/Home_JE_Mabonne_formunate"><img src="../Images/back_white_button.png" style="margin-top:-14px;" width='120' height='100' onmouseover="src='../Images/back_black_button.png';" onmouseout="src='../Images/back_white_button.png';" /></a></p>
            </div>
        </div>
        <!--Banner1-->
        <div class="banner_block">
            <div id="voir" class="banner2">
            	<h3>4 PRECISION SUR L'ENFANT....</h3>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_2 nakache_block_2 ">
        	<div class="fleft">
             	<div class="heading txt_center">
                    <strong><center>Univers<center> </strong>
					<p>Choisissez votre univers préféré</p><p><center>(2 choix max)</center></p>
                </div>           	
            	<div>
                    <label>Franco Belge</label>
                    <input type="checkbox" value="" name="g1" onclick=" return checkboxes1();"/>
                </div>
                <div>
                    <label>Manga</label>
                    <input type="checkbox" value="" name="g1" onclick="return checkboxes1();"/>
                </div>
				<div>
                    <label>Manga</label>
                    <input type="checkbox" value="" name="g1" onclick="return checkboxes1();"/>
                </div>
				<div>
                    <label>Manga</label>
                    <input type="checkbox" value="" name="g1" onclick="return checkboxes1();"/>
                </div>
            </div>
            
            <div class="fleft genre">
            	<div class="border fleft"></div>
                <div class="heading txt_center">
                    <strong><center>Genre<center></strong>
					<p>Choisissez vos histoires préférées</p><p><center>(4 choix mini)</center></p>
                </div> 
            	<div>
                    <label>Aventure</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
                <div>
                    <label>Heroic Fantasy</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Aviation</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Histoire</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Classique / Patrimoine</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Humour</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Esotérique</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Primées (Angoulême...)</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();" />
                </div>
                <div>
                    <label>Equitation</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
                <div>
                    <label>Sport</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
                <div>
                    <label>Fantastique</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
				<div>
                    <label>Sport</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
                <div>
                    <label>Fantastique</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
				<div>
                    <label>Sport</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>
                <div>
                    <label>Fantastique</label>
                    <input type="checkbox" value="" name="g2" onclick="return checkboxes();"/>
                </div>

            </div>
            
            <div class="fright">
            	<div class="border fleft"></div>
                <div class="heading txt_center">
                    <strong>Prix</strong>
					<p>En fonction des univers</p><p><center>Séléctionnés</center></p>
                </div> 
            	<div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
                <div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
                <div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
                <div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
				<div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
				<div>
                    <label>Recap</label>
                    <input type="text" value="" />
                </div>
            </div>
        </div>
        
        <!--Votre Block-->
        <div id="votre" class="bottom_block">
        	<div class="votre_wrap txt_center">
               <div class="button"><input type="submit" value="ETAPE SUIVANTE" /></div>
          </div>
        </div>
    </div>
</section>
<!--About Us Page Code End-->
     }
<script type="text/javascript">
 function checkboxes1()
      {
       var inputElems = document.getElementsByName("g1")

        count = 0;

        for (var i=0; i<inputElems.length; i++) {       
           if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
              count++;
           }

        }
        if (count > 2) {
            //alert(count);
            return false;
        }
        else {
            return true;
        }
     }
	 </script>
<script type="text/javascript">
    function checkboxes() {
        var inputElems = document.getElementsByName("g2")

        count = 0;

        for (var i = 0; i < inputElems.length; i++) {
            if (inputElems[i].type == "checkbox" && inputElems[i].checked == true) {
                count++;
            }

        }
        if (count > 4) {
            //alert(count);
            return false;
        }
        else {
            return true;
        }
    }
	 </script>