@{
    ViewBag.Title = "Gift_Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap forume3" id="identification_detail_3">
    	<div id="slideshow" class="top_header">
        	<div class="top_header_wrap">
                <h2 class="fleft" style="width:600px;">1-3 FORMULE, DUREE, LIVRAISON	</h2>
                <p class="fright"><a href="#"><img src="../Images/back_white_button.png" style="margin-top:-14px;" width='120' height='100' onmouseover="src='../Images/back_black_button.png';" onmouseout="src='../Images/back_white_button.png';" /></a></p>
            </div>
        </div>
        <div class="banner_block">
            <div id="voir" class="banner2">
            	<h3>4  MESSAGE</h3>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block">
        <p>Laissez ici un message que la personne découvrira lors de l'activation de son abonnement </p>
        <div>
        	<div class="fleft">
            	<div>
                    <label>Prénom</label>
                    <input type="text" value="" />
                </div>
                <div>
                    <label>Nom</label>
                    <input type="text" value="" />
                </div>  
            </div>
            
            <div class="fleft">
            	<div>
                    <label>Votre message</label>
                    <textarea></textarea>
                </div>      
            </div>
        </div>
        </div>
        <div class="banner_block banner_block_2">
            <div id="voir" class="banner2">
            	<h3>5  ENVOYER LA CARTE</h3>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block">
        <p>Choisissez la façon dont vous souhaitez lui offrir ce cadeau (la carte cadeau contient le code d'activation 
permettant de démarrer l'abonnement)</p>
        <div>
        	<div class="fleft choose_boxes">
            	<div>
                    <label>Imprimer la carte cadeau
A remettre en main propre</label>
                    <input type="checkbox" value="" />
                </div>
                <div>
                    <label>Envoyer par Email
au bénéficiaire à l'issu
de la commande</label>
                    <input type="checkbox" value="" />
                </div>
            </div>
            
            <div class="fleft">
            	<div>
                    <textarea></textarea>
                </div>
            </div>
        </div>
        </div>
        <!--Votre Block-->
        <div id="votre" class="bottom_block">
        	<div class="votre_wrap txt_center">
               <div class="button"><input type="submit" value="ETAPE SUIVANTE" /></div>
            </div>
        </div>
    </div>
</section>
<!--About Us Page Code End-->
