@model Commic.Models.Commic
@{
    ViewBag.Title = "LessOfferSabboner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("lessoffersabboner", "Index", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "defaultForm" }))
{ 
    <!--About Us Page Code Start-->
    <section id="content">
        <div class="content-wrap less_offer" id="identification_detail_3 ">

            <!--Banner1-->
            <div class="banner_block">
                <div id="voir" class="banner2">
                    <h3 style="padding: 33px 0;letter-spacing: 2px;">Vous cherchez un cadeau pour vos parents, vos amis, vos enfants, les amis de vos enfants......</h3>
                </div>
            </div>
            <!--description Block-->
            <div id="slideshow">
                <div class="slideshow_wrap">
                    <div class="txt_center">
                        <div class="slideshow_content" style="font-size: 21px;padding: 5px 70px;">
                            <p><center><strong class="Heading">STOP ! </strong></center><center>Restez zen et confiant.Nous avons la solution  qui met à mal le concept du<br /> cadeau convenu.
 Un cadeau culturel, fun et qui dure longtemps</center><br />Votre cadeau est pour :</p>
                           <p style="width:1050px;"><strong class="Heading">Un adulte</strong> : vous pouvez choisir la formule Prêt à Buller (Jean Pierre fait la sélection) ou la formule Bulle sur Mesure (vous indiquez à JP les goûts de votre proche).
                            <br /><strong class="Heading">Un enfant</strong>: Optez pour la formule Mini Bulle (indiquez l’âge, le genre et ses préférences)
                            <br class="slideshow_desc" style="text-align:left;"><strong class="Heading">
                               <p style="width:1050px;"> Une famille </strong>: Choisissez la formule Mini et Maxi Bulle ( indiquez pour l’enfant âge, genre et pour l’adulte ses goûts)</p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!--Votre Block-->
            <div id="votre">
                <div class="votre_wrap">
                    <h2 class="txt_center">Faites leur plaisir une fois par mois avec l’abonnement Chacun sa bulle !</h2>
                    <div class="txt_center votre_desc">
                        <p><strong>Au moins 2 BD sélectionnées pour vous  +  Une fiche sur l’auteur et le dessinateur  + Un ex-libris</strong></p>
                        <p>Plus des surprises pouvant aller jusqu’à des albums dédicacés, des invitations premium pour rencontrer les auteurs et les dessinateurs.</p>
                    </div>
                    <div class="txt_center">
                        @foreach (Commic.Models.MasterPageSec4BTN obj in Model.objMasterPageSec4BTNListM)
                        {
                            if (obj.id == 1)
                            {
                                <a href="~/Index/VoucherPageForPertaBuller?id=11" style="text-decoration: none">
                            <div class="votre_block">
                                <div>
                                    <div class="votre_image txt_center"></div>
                                    <h3>prêt<br /> à buller</h3>
                                    <div class="votre_price"><span class="txt_blue">34,90&euro;</span> par mois</div>
                                    <div>
                                        <p class="txt_blue"><strong>Il/elle aime la nouveauté</strong></p>
                                        <p class="votre_block_desc">Offrez les  2 BD incontournables du mois sélectionnées par notre expert
</p>
                                    </div>
                                    @*<div class="button"><input type="submit" name="abonne" value="prêt à buller" /></div>*@
                                    <div class="button blue_btn"><a href="~/Index/VoucherPageForPertaBuller?id=11">@Html.Raw(obj.SubsbtnCaption)</a></div>
                                    <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                                </div>
                            </div></a>
                            }
                            else if (obj.id == 2)
                            { 
                                <a href="~/Index/VoucherPageForBSM?id=22" style="text-decoration: none">
                            <div class="votre_block">
                                <div>
                                    <div class="votre_image bulle_image txt_center"></div>
                                    <h3>bulle sur mesure</h3>
                                    <div class="votre_price">à partir de <span class="txt_green">17,90&euro;</span></div>
                                    <div>
                                        <p class="txt_green"><strong>  Il/elle a des goûts bien prononcés</strong></p>
                                        <p class="votre_block_desc">Offrez les 2BD qui le séduiront sans aucun doute
</p>
                                    </div>
                                    @*<div class="button green_btn"><input type="submit" name="abonne" value="bulle sur mesure" /></div>*@
                                    <div class="button green_btn"><a href="~/Index/VoucherPageForBSM?id=22">@Html.Raw(obj.SubsbtnCaption)</a></div>
                                    <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                                </div>
                            </div></a>
                            }
                            else if (obj.id == 3)
                            { 
                                <a href="~/Index/VoucherPageForMB?id=33" style="text-decoration: none">
                            <div class="votre_block">
                                <div>
                                    <div class="votre_image mini_image txt_center"></div>
                                    <h3>mini<br>
                                        bulle</h3>
                                    <div class="votre_price">à partir de <span class="txt_orange">17,90&euro;</span></div>
                                    <div>
                                        <p class="txt_orange"><strong>Il reçoit ses premières BD.</strong></p>
                                        <p class="votre_block_desc">Offrez  lui chaque mois 2 BD enfant sélectionnées par notre équipe.</p>
                                    </div>
                                    @*<div class="button orange_btn"><input type="submit" name="abonne" value="mini" /></div>*@
                                    <div class="button orange_btn"><a href="~/Index/VoucherPageForMB?id=33">@Html.Raw(obj.SubsbtnCaption)</a></div>
                                    <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                                </div>
                            </div></a>
                            }
                            else if (obj.id == 4)
                            { 
                                <a href="~/Index/VoucherPageForMMB?id=44" style="text-decoration: none">
                            <div class="votre_block">
                                <div>
                                    <div class="votre_image minimax_image txt_center"></div>
                                    <h3>mini & maxi bulle</h3>
                                    <div class="votre_price">à partir de <span class="txt_pink">17,90&euro;</span></div>
                                    <div>
                                        <p class="txt_pink"><strong>Petits et grands seront gatés.</strong></p>
                                        <p class="votre_block_desc">Offrez une BD sélectionnée pour adulte et une pour enfant.</p>
                                    </div>
                                    @*<div class="button pink_btn"><input type="submit" name="abonne" value="mini&maxibulle"/></div>*@
                                    <div class="button pink_btn"><a href="~/Index/VoucherPageForMMB?id=44">@Html.Raw(obj.SubsbtnCaption)</a></div>
                                    <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                                </div>
                            </div></a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Us Page Code End-->
}
<style>
    .Heading {
        line-height: 33px;
        font-family: 'Bangers', cursive;
        font-size: 28px;
        font-weight: normal;
        margin: 0 auto;
        padding: 10px 0;
        width: 66%;
    }
</style>